<h3>SmartShape Studio</h3>
<p>The SmartShape Studio is an editor to create collections of SmartShapes and save them to JSON files. Then, these
    shapes can be loaded from these JSON files using "fromJSON" function to the code of JavaScript projects.</p>
<p><strong>Basic functions</strong><br/>
<ul>
    <li>
        Use <span class="btn-link btn-sm"><i class="fa fa-plus"></i></span> button to add new shapes.<br/>
    </li>
    <li>
        Using the editor panel, modify the shape by moving, resizing, rotating it and dragging the points of the shape.
    </li>
    <li>
        Use context menu by right mouse click on the shape to add points, delete points and do other modifications
    </li>
    <li>
        Add new figures to the shape, using hamburger menu on top right corner of the editor
    </li>
    <li>
        Using shape context menu, export created shapes to one of available formats (like SVG or PNG).
    </li>
    <li>
        To save created shapes to a file, press <span class="btn-link btn-sm"><i class="fa fa-download"></i></span> button.
    </li>
    <li>
        To load previously saved shapes, press <span class="btn-link btn-sm"><i class="fa fa-upload"></i></span> button and select the JSON file.
    </li>
</ul>
</p>
<p><strong>Examples</strong></p>
<p>
See the following videos that demonstrate features of SmartShape Studio.
</p>
<p>
    <div style="text-align:center">
        <iframe width="460" style={{maxWidth:'90%'}} height="290" src="https://www.youtube.com/embed/OPEa0b2hAOg" title="YouTube video player" frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowFullScreen></iframe>
    </div>
    <div style="text-align:center">
        <iframe width="460" style={{maxWidth:'90%'}} height="290" src="https://www.youtube.com/embed/VE62Y06Ftbg" title="YouTube video player" frameBorder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowFullScreen></iframe>
    </div>

</p>

<p>In the future, this editor will allow not only create shapes from scratch, but also import vector graphics from files of various formats, like SVG or Web fonts. Then, you could modify loaded shapes and save them as a collections of SmartShapes to use in your code.</p>
<p>Please, visit <a target="_blank" href="https://github.com/AndreyGermanov/smartshape_designer">the GitHub repository of SmartShape Studio</a> Project to see the last changes and the most recent documentation.</p>
