<span class="brand-link">
    <span class="brand-text font-weight-light">SmartShape Studio</span>
</span>
<div class="sidebar" id="shapes_panel">
    <div class="brand-text">
        <button type="button" class="btn btn-link btn-sm" id="panelAddBtn" title="Add new shape">
            <span class="fa fa-plus"></span>
        </button>
        <table>
            <tbody>
                <tr class="shape_row" style="display:none">
                    <td>
                        <div class="center"></div>
                        <span class="fa fa-plus" title="Delete"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


