<span class="brand-link">
    <span class="brand-text font-weight-light">SmartShape Studio</span>
</span>
<div class="sidebar" id="shapes_panel">
    <div class="user-panel">
        <button type="button" class="btn btn-link btn-sm" id="panelAddBtn" title="Add new shape">
            <span class="fa fa-plus"></span>
        </button>
        <button type="button" class="btn btn-link btn-sm" id="panelLoadBtn" title="Load collection">
            <span class="fa fa-upload"></span>
        </button>
        <button type="button" class="btn btn-link btn-sm" id="panelSaveBtn" title="Save collection">
            <span class="fa fa-download"></span>
        </button>
    </div>
    <div class="user-panel shape_row" style="display:none">
        <div class="center">
            <img/>
            <span class="shape_name text"></span>
            <span class="shape_id text"></span>
        </div>
        <span class="fa fa-plus" title="Delete"></span>
    </div>
</div>


