<div class="row">
    <div class="col-md-6 col-sm-6 col-12">
        <div class="col-2">
            <label for="strokeColor">Color</label>
        </div>
        <div class="col-10">
            <input class="form-control form-control-sm" id="strokeColor"/>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
        <div class="col-2">
            <label for="strokeWidth">Width</label>
        </div>
        <div class="col-10">
            <input class="form-control form-control-sm" id="strokeWidth"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-12">
        <div class="col-12">
            <label for="strokeDasharray">Dash Array</label>
        </div>
        <div class="col-10">
            <input class="form-control form-control-sm" id="strokeDasharray"/>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
        <div class="col-2">
            <label for="strokeLinecap">Linecap</label>
        </div>
        <div class="col-10">
            <select class="form-control form-control-sm" id="strokeLinecap">
                <option value="square" selected>Square</option>
                <option value="round">Round</option>
                <option value="butt">Butt</option>
            </select>
        </div>
    </div>
</div>
